.vscode/**
.vscode-test/**
out/**
node_modules/**
!node_modules/katex/dist/*.md
!node_modules/katex/dist/*.txt
!node_modules/katex/dist/*.min.js
!node_modules/katex/dist/*.min.css
!node_modules/katex/dist/fonts/**
!node_modules/@vscode/codicons/dist/*.css
!node_modules/@vscode/codicons/dist/*.ttf
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
_dev_research/**
readme_media/**
pandoc/defaults/**
